*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
background:url(https://image.slidesdocs.com/responsive-images/background/blue-abstract-texture-polygon-technology-nature-powerpoint-background_94e8175035__960_540.jpg);        
background-size: cover;
font-family: 'Times New Roman', Times, serif;
}

.box
{
    width: 500px;
    background: rgba(rgb(11, 11, 11), green, blue, alpha);
    margin:0 auto;
    margin-top: 4% ;
    padding: 20px;
    color: white;

    .box-img{
        border-radius: 50%;
    }

    .box h1 {
        font-size: 40px;
        letter-spacing: 4px;
        font-weight: 100;
        margin: 30px 0 20px;

    }

    a{
        text-decoration: none;
        color: white;
    }

    ul{
        text-decoration: none;
        list-style: none;
    }

    a:hover{
        background-color: rgb(20, 67, 220);
    }

}


